<footer class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3  col-sm-12 col-12  footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">TAPFARM</span>
            </li>
            <li class="nav-item">
              <a class="nav-link ">We're passionate about providing the highest quality grapes to our customers. Our
                family-owned business has been in operation for over 45 years, and we take pride in our
                commitment to excellence and sustainability.</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12  footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Quick Links</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about"><i class="fa fa-space-shuttle"> </i> About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="gallery"><i class="fa fa-space-shuttle"> </i> Gallery </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" ><i class="fa fa-space-shuttle"> </i> Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3  col-sm-12 col-12 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Keep In Touch</span>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fa fa-map-marker"></i> Fund Farm, Jalkotwadi, Solapur, Maharashtra, India.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+(919) 885 9909"><i class="fa fa-phone"></i> +(919) 885 9909</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto: tapfarminfo@gmail.com"><i class="fa fa-envelope"></i> tapfarminfo@gmail.com </a>
            </li>
          </ul>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-12  footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Contact & Support</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><i class="fas fa-phone"></i>+47 45 80 80 80</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact"><i class="fa fa-envelope"></i>Contact us</a>
            </li>
          </ul>
        </div> -->
      </div>
  
      
      <div class="row mt-2 ">
        <div class="col-md-4 box">
          <span class="copyright quick-links">Copyright &copy; <span id="demo"> </span> TAPFARM </span>
        </div>
        <div class="col-md-4 text-center box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <i class="fa fa-facebook-f"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-center box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>