<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Product</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product 2</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Company</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Job postings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News and articles</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Contact & Support</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><i class="fas fa-phone"></i>+47 45 80 80 80</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact"><i class="fa fa-envelope"></i>Contact us</a>
            </li>
          </ul>
        </div>
      </div>
  
      
      <div class="row text-center">
        <div class="col-md-4 box">
          <span class="copyright quick-links">Copyright &copy; AGROFARM <script>document.write(new Date().getFullYear())</script>
          </span>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <i class="fa fa-facebook-f"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>