.container-fluid
{
    background-image: url(https://images.pexels.com/photos/15778459/pexels-photo-15778459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    height:400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    
    
}
.head-center
{   padding-top: 50px;
    color: white;
    text-align: center;
}
.text-center
{   padding-top: 50px;
    color:white;
    font-weight:bolder;
    font-size: 23px;
}


// .cardimg{
//     background-image: url(https://cdn.pixabay.com/photo/2016/11/21/11/23/grapes-1844745_960_720.jpg);
// }

.img1
{
    height:300px;
    width:100%;
    cursor: pointer;

}
.img
{
    height:100px;
    width:100%;
    cursor: pointer;
}
.rounded-circle
{
    width:90%;
    height: 300px;
 
}
   