.about-wrapper
{
    background-image: url(https://images.pexels.com/photos/15778459/pexels-photo-15778459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    min-height:620px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;    
}
.head-center
{   padding-top: 50px;
    color: #000;
    text-align: center;
}
.about-wrapper-para
{   padding-top: 19rem;
    color:#fff;
    font-weight:bolder;
    font-size: 18px;
}

.img1
{
    height:300px;
    width:100%;
    cursor: pointer;

}
.imghover
{
    height:100px;
    width:100%;
    cursor: pointer;
}