<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid ">
            <div class="d-flex justify-content-between navbar-main">
                <a class="navbar-brand text-success " href="#"> 
                    <strong>TAP FARMS</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link text-dark" routerLink="home" routerLinkActive="active">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" routerLink="about" routerLinkActive="active">About</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" routerLink="product" routerLinkActive="active">Product</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" routerLink="gallery" routerLinkActive="active">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" routerLink="contact" routerLinkActive="active">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>