
.navbar{
  background-color: #000;
  color: #fff;
}

.navbar-brand{
  font-family: 'Tilt Prism', cursive;
  font-size: 1.5rem;
}

.navbar-main{
    width: 100%;
}

.main-navbar{
    box-shadow: 0px 0px 3px grey;
  
    .row{
      margin: 0px;
    }
  
  }
  
  .active{
    font-weight: bold;
    color: #fff !important;
  }

.nav-link {
    display: inline-block;
    color: #000;
    text-decoration: none;

}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: gold;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-nav > .nav-item> .nav-link {
  color: #fff !important;
}

.navbar-toggler{
  background-color: #fff;
}