<div class="container-fluid p-0 main-navbar">
    <div class="row ">
        <div class="col-md-8">
          <nav class="navbar ">
            <a class="navbar-brand col-md-4" href="#">
              <img src="../../assets/images/logo.png" width="80" height="50" class="d-inline-block align-top" alt="">

            </a>
            <ul class="nav" *ngFor="let menu of menus">
              <li class="nav-item"><a  class="nav-link" href="">{{menu}}</a></li>
            </ul>
          </nav>
          </div>
    </div>
  </div>

