<div class="container-fluid p-0 ">
    <div class="row ">
        <div class="col-md-8">
            <ul class="navbar2">
                <li class="navbar3"><a href="">Home</a></li>
                <li class="navbar3"><a href="">About-Us</a></li>
                <li class="navbar3"><a routerLink="tabledata">TablesData</a></li>
                <li class="navbar3"><a href="">Contact-us</a></li>
                <li class="navbar3"><a routerLink="rxjs">Rxjs</a></li>
            </ul>
        </div>
    </div>
  </div>
  
  