
.navbar2{

    height: 50px;
    list-style-type: none;
}

.navbar3{
    float: left;
}

.navbar3 a {
    text-decoration: none;
    color: black;
    padding: 27px 16px;
    background-color: white;
}

.navbar3 a:hover{
    background-color: grey;
    color: white;
}

