<div class="container-fluid contact-info">
  <div class="row mt-3 text-center"> 
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
        <div><span class="fa fa-phone"></span></div>
        <h4 class="contact-info-heading">Phones</h4>
        <h6> <b>Office</b> +1(409)987-5874 <br><b>Fax</b> +1(409)987-5874 </h6>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
      <div><span class="fa fa-map-marker"></span></div>
      <h4 class="contact-info-heading">Address</h4>
      <h6>Fund Farm, Jalkotwadi, Solapur, Maharashtra, India.</h6>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
      <div><span class="fa fa-envelope"></span></div>
      <h4 class="contact-info-heading">E-mails</h4>
      <a class="nav-link" href="mailto: tapfarminfo@gmail.com"> tapfarminfo@gmail.com </a>
    </div>
  </div>
</div>

<div class="container-fluid my-5">
    <div class="row m-0">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-1"> 
        <h1 class="mb-3">Get in touch</h1>
        <form [formGroup]="contactForm" class="form-group" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="your-name" class="form-label">Your First Name</label>
              <input type="text" class="form-control" id="your-name" name="your-name" formControlName="firstname" required>
            </div>
            <div class="col-md-6">
              <label for="your-surname" class="form-label">Your Surname</label>
              <input type="text" class="form-control" id="your-surname" name="your-surname" formControlName="surname"  required>
            </div>
            <div class="col-md-6">
              <label for="your-email" class="form-label">Your Email</label>
              <input type="email" class="form-control" id="your-email" name="your-email" formControlName="email" required>
            </div>
            <div class="col-md-6">
              <label for="your-subject" class="form-label">Your Mobile</label>
              <input type="number" class="form-control" id="your-mobile" name="your-mobile" formControlName="mobile" required>
            </div>
            <div class="col-12">
              <label for="your-message" class="form-label">Your Message</label>
              <textarea class="form-control" id="your-message" name="your-message" rows="5" formControlName="message" required></textarea>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-dark w-100 fw-bold" >Send</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-1">
        <iframe class="site-map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2320.8215372709146!2d75.90753145284565!3d17.880835594213096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1680465441914!5m2!1sen!2sin" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>


    <!-- suscribe to newsletter -->

    <section class="subscription bg-white my-3">
      <div class="container-fluid p-0">
        <div class="row m-0">
          <div class="col-lg-12 col-md-12 col-12 ">
            <div class="subscription-wrapper">
              <div class="d-flex subscription-content justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
                <h3 class="flex-fill">Subscribe <br> to our newsletter</h3>
                <form action="#" class="row flex-fill">
                  <div class="col-lg-7 my-md-2 my-2">
                    <input type="email" class="form-control px-4 border-0 w-100 text-center text-md-left" id="email" placeholder="Your Email" name="email">
                  </div>
                  <div class="col-lg-5 my-md-2 my-2">
                    <button type="submit" class="btn btn-primary btn-lg border-0 w-100">Subscribe Now</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>