<div class="container-fluid p-0 gallery-wrapper">
<div class="text">
  <h2 class="name">Gallery</h2>
</div>

<div class="row my-2"> 
  <div class="column">
    <img src="https://cdn.pixabay.com/photo/2017/08/18/19/48/grapes-2656259_960_720.jpg"id="galley">
    <img src="https://cdn.pixabay.com/photo/2021/01/05/05/30/grapes-5889697_960_720.jpg"id="galley">
    <img src="https://cdn.pixabay.com/photo/2014/12/02/03/11/grapes-553464_960_720.jpg"id="galley">
    <img src="https://cdn.pixabay.com/photo/2021/09/16/15/26/fruit-6630377_960_720.jpg"id="galley">
    <img src="https://cdn.pixabay.com/photo/2018/04/17/16/19/vine-3327945_960_720.jpg"id="galley">
    <img src="https://cdn.pixabay.com/photo/2021/09/16/15/26/fruit-6630377_960_720.jpg" id="galley">
    <img src="https://cdn.pixabay.com/photo/2019/06/21/20/19/grapes-4290308_960_720.jpg"id="galley">
  </div>
  
  <div class="column">
    <img src="https://cdn.pixabay.com/photo/2015/01/15/21/12/grapes-600816_960_720.jpg"id="galley" >
    <img src="https://cdn.pixabay.com/photo/2018/03/12/16/40/grapes-3220158_960_720.jpg"id="galley" >
    <img src="https://cdn.pixabay.com/photo/2021/09/11/16/59/grapes-6616046_960_720.jpg"id="galley">
    <img src="https://cdn.pixabay.com/photo/2019/09/16/05/15/grapes-4479871_960_720.jpg"id="galley" >
    <img src="https://cdn.pixabay.com/photo/2019/09/16/05/15/grapes-4479871_960_720.jpg" id="galley">
    <img src="https://cdn.pixabay.com/photo/2019/06/21/20/19/grapes-4290308_960_720.jpg"id="galley" >
  </div> 
   
  <div class="column">
    <img src="https://cdn.pixabay.com/photo/2020/08/21/18/53/healthy-5506822_960_720.jpg" id="galley">
    <img src="https://cdn.pixabay.com/photo/2021/09/17/15/17/fruit-6633086_960_720.jpg" id="galley">
    <img src="https://cdn.pixabay.com/photo/2017/08/23/18/53/grapes-2673874_960_720.jpg"id="galley" >
    <img src="https://cdn.pixabay.com/photo/2017/11/02/12/24/grape-2911039_960_720.jpg"id="galley" >
    <img src="https://cdn.pixabay.com/photo/2016/10/16/19/40/vineyards-1746131_960_720.jpg"id="galley" >
    <img src="https://cdn.pixabay.com/photo/2020/05/08/11/54/grapes-5145315_960_720.jpg"id="galley" >
    <img src="https://cdn.pixabay.com/photo/2017/09/29/16/48/wine-2799719_960_720.jpg" id="galley">
  </div>
  
  <div class="column">
    <img src="https://cdn.pixabay.com/photo/2018/08/26/18/57/winery-3633009_960_720.jpg" style="width:100%">
    <img src="https://cdn.pixabay.com/photo/2017/03/27/12/21/agriculture-2178352_960_720.jpg" style="width:100%">
    <img src="https://cdn.pixabay.com/photo/2017/08/30/20/26/vineyard-2698474_960_720.jpg" style="width:100%">
    <img src="https://cdn.pixabay.com/photo/2017/03/28/12/45/grapes-2182073_960_720.jpg" style="width:100%">
    <img src="https://cdn.pixabay.com/photo/2016/09/09/13/52/grapes-1657199_960_720.jpg" style="width:100%">
    <img src="https://cdn.pixabay.com/photo/2015/01/15/21/12/grapes-600816_960_720.jpg" style="width:100%">
  </div>
</div>
</div>