
.gallery-wrapper > .row{
  margin: 0px !important;
}

.heading{
  text-align: center;
  color: white;
  font-size: 4rem;
  padding-top: 140px
}
.bg-source{
  background-image: url('https://st4.depositphotos.com/24248888/38404/i/450/depositphotos_384044036-stock-photo-grape-most-important-crop-grown.jpg');
  height: 400px;
  width: 100%;
}

.header {
  text-align: center;
  padding: 32px;
}
#galley{
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.img-head {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.img-head img {
  margin-top: 8px;
  vertical-align: middle;
}


@media (max-width: 800px) {
  .img-head {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .img-head {
    flex: 100%;
    max-width: 100%;
  }
}