<div class="container p-0 galler mt-3 y-wrapper">
  <!-- <div class="bg-source">
    <h2 class="heading">Gallery</h2>
  </div> -->

  <ng-image-slider [images]="imageObject" #nav  lazyLoad="imageObject"  [imageSize]="{width: '380px',height: '250px'}"></ng-image-slider>

</div>

<div class="container p-0 my-3">
  <div class="row my-3">
    <div class="col-md-6">
      <div >
        <iframe width="100%" height="300" loading="lazy" src="https://www.youtube.com/embed/Tva4Cf-NKPY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h2><b>A Guide to Growing Your Own Grapes</b></h2>
      <h5>Hello and welcome to our guide on grape farming. In this video, we'll be showing you everything you need to know to grow your own grapes, from selecting the right location to harvesting your first crop. So, let's get started!</h5>
      
      <h5><b>Part 1: Choosing the Right Location</b>
        The first step in grape farming is choosing the right location for your vineyard. Grapevines need plenty of sunlight, so make sure your chosen spot receives at least six hours of direct sunlight each day. Also, ensure that the area has good air circulation to prevent diseases and pests from taking hold.</h5>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-6">
        <h5><b>Part 2: Preparing the Soil</b>
          Once you've chosen your location, it's time to prepare the soil. Grapevines need well-draining soil that's rich in nutrients. You can test your soil's pH levels and add any necessary amendments to adjust it to the ideal range of 5.5 to 7.0.</h5>
        <h5><b>Part 3: Planting Your Grapevines</b>
          When it comes to planting your grapevines, you have a few options. You can either buy young plants from a nursery or start from cuttings. Either way, you'll want to plant them in early spring or late fall, ensuring they have enough space to grow and proper support for their trellis.</h5>  
    </div>
    <div class="col-md-6">
      <div >
        <iframe width="100%" height="300" loading="lazy" src="https://www.youtube.com/embed/9JT-_nV6Jr4"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    
  </div>

  <div class="row my-3">
    <div class="col-md-6">
      <div >
        <iframe width="100%" height="300"  loading="lazy" src="https://www.youtube.com/embed/FsHQKf_HNiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h5><b>Part 4: Care and Maintenance</b>
        Now that your grapevines are in the ground, it's time to care for them. Water your vines deeply once a week, and fertilize them every spring with a balanced fertilizer. Be sure to keep an eye out for any pests or diseases, and take action quickly if you spot any issues.</h5>
        <h5><b>Part 5: Harvesting Your Grapes</b>
          After several years of growth, your grapevines will start producing fruit. When the grapes are ripe, it's time to harvest them. This usually happens in late summer or early fall, depending on your climate. Cut the bunches of grapes from the vine, being careful not to damage the plant.</h5>
  

      </div>
  </div>

</div>


