<div class="container-fluid p-0 gallery-wrapper">
<div class="bg-source">
  <h2 class="heading">Gallery</h2>
</div>

<div class="row my-2"> 
  <div class="img-head">
    <img src="./assets/gallery img/grapes-1.jpg"id="galley">
    <img src="./assets/gallery img/grapes-2.jpg"id="galley">
    <img src="../assets/gallery img/grapes-3.jpg"id="galley">
    <img src="../assets/gallery img/grapes-4.jpg"id="galley">
    <img src="../assets/gallery img/grapes-5.jpg"id="galley">
    <img src="../assets/gallery img/grapes-6.jpg" id="galley">
    <img src="../assets/gallery img/grapes-7.jpg"id="galley">
  </div>
  
  <div class="img-head">
    <img src="../assets/gallery img/grapes-8.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-9.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-10.jpg"id="galley">
    <img src="../assets/gallery img/grapes-11.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-12.jpg" id="galley">
    <img src="../assets/gallery img/grapes-13.jpg"id="galley" >
  </div> 
   
  <div class="img-head">
    <img src="../assets/gallery img/gallery5.jpeg" id="galley">
    <img src="../assets/gallery img/grapes-14.jpg" id="galley">
    <img src="../assets/gallery img/grapes-15.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-16.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-17.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-19.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-20.jpg" id="galley">
  </div>
  
  <div class="img-head">
    <img src="../assets/gallery img/grapes-22.jpg" id="galley">
    <img src="../assets/gallery img/grapes-24.jpg"id="galley" >
    <img src="../assets/gallery img/grapes-23.jpg" id="galley">
    <img src="../assets/gallery img/grapes-25.jpg" id="galley">
    <img src="../assets/gallery img/grapes-26.jpg" id="galley">
    <img src="../assets/gallery img/grapes-27.jpg" id="galley">
  </div>
  
 
  
  
 
</div>
</div>