<!-------------------- Hero Section  ------------------------------>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="p-5 mt-4">
          <h1 class="display-4">Welcome to TAP FARM</h1>
          <p class="lead">Our mission is to explore the world of grapes, from their history and cultural significance to their various varieties and uses.</p>
          <a href="/about" class="btn btn-outline-dark">About</a>
        </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-end">
      <img class="heroImg img-fluid" id="heroImage" src="../../assets/images/bg1.jpg" alt="...">
    </div>
</div>

    <!-------------- Features ---------------------------->
  <div class="container p-0">
    <div class="product my-3">
      <div class="row m-0">
        <div class="product-content col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="icon">
            <img class="gif"
              src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/07368d66-d6bd-4655-a2cd-e4caf10da3e6/d9do7uc-82a5c909-122c-4cde-8420-8e849be0e1fb.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA3MzY4ZDY2LWQ2YmQtNDY1NS1hMmNkLWU0Y2FmMTBkYTNlNlwvZDlkbzd1Yy04MmE1YzkwOS0xMjJjLTRjZGUtODQyMC04ZTg0OWJlMGUxZmIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ANLIHw9AuNVYPf1dDpwer_6p23MIMfh1d6KwHZ4h85k">
          </div>
          <div class="icon-header text-center">
            <h3>Natural feed</h3>
          </div>
          <div class="icon-body text-center">
            <p> We use the best feeds with essential nutrients to raise the best Grapes.
            </p>
          </div>
        </div>
        <div class="product-content col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="icon">
            <img class="gif" src="https://www.animatedimages.org/data/media/1184/animated-farm-image-0037.gif">
          </div>
          <div class="icon-header text-center">
            <h3>Own fields</h3>
          </div>
          <div class="icon-body text-center">
            <p>We use our own farm fields for grazing grapes to give them more fresh air and space.</p>
          </div>
        </div>
    
        <div class="product-content col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="icon">
    
            <img class="gif"
              src="https://media0.giphy.com/media/7qDiIDH0EUXl4g6XLT/giphy.gif?cid=6c09b952d870efa18f1616c505368f9a0795882726b4967c&rid=giphy.gif&ct=s">
          </div>
          <div class="icon-header text-center">
            <h3>Modern farm</h3>
          </div>
          <div class="icon-body text-center">
            <p>Our farm uses the latest incubation and feeding technologies to raise the best grapes in the state.</p>
          </div>
        </div>
        <div class="product-content col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="icon">
            <img class="gif organicImg" src="../../assets/images/organic.png">
          </div>
          <div class="icon-header text-center">
            <h3>100% Organic</h3>
          </div>
          <div class="icon-body text-center">
            <p>We adhere to the organic philosophy, which implies the usage of natural feed for our grapes..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-------------- End Features ---------------------------->
    

<app-testimonials></app-testimonials>


  <!-------------------------------------------------->

  <!-- suscribe to newsletter -->

  <section class="subscription bg-white my-3">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-lg-12 col-md-12 col-12 ">
          <div class="subscription-wrapper">
            <div class="d-flex subscription-content justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
              <h3 class="flex-fill">Subscribe <br> to our newsletter</h3>
              <form action="#" class="row flex-fill">
                <div class="col-lg-7 my-md-2 my-2">
                  <input type="email" class="form-control px-4 border-0 w-100 text-center text-md-left" id="email" placeholder="Your Email" name="email">
                </div>
                <div class="col-lg-5 my-md-2 my-2">
                  <button type="submit" class="btn btn-primary btn-lg border-0 w-100">Subscribe Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

