<div class="container-fluid p-0 testimonials">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item my-5 active text-center ">
                <p class="lead font-italic mx-5">
                    "I have been buying grapes from this website for over a year now, and I am always impressed with the quality of their grapes. They are always fresh and taste amazing! I highly recommend this website to anyone looking for high-quality grapes."                </p>
                <div class="mt-5 mb-4 text-center">
                    <img src="https://media.istockphoto.com/id/1171169128/photo/headshot-of-smiling-handsome-man-with-trendy-haircut-isolated-on-gray-background.jpg?s=170667a&w=0&k=20&c=V3_9ogd1cwMIMTeuWparmaoPBuj508xBsTjd_7fJufQ="
                        class="testimonials-img rounded-circle img-fluid shadow-1-strong" alt="smaple image"  />
                </div>
                <p class="text-muted mb-0 text-center">- Anna Morian</p>
            </div>
            <div class="carousel-item my-5 text-center">
                <p class="lead font-italic mx-4 mx-md-5">
                    "I am a huge fan of grapes, and this website has quickly become my go-to for all my grape needs. Their selection is incredible, and the grapes are always fresh and delicious. I love that they offer a variety of different types of grapes, so I can try new things and discover new favorites."                </p>
                <div class="mt-5 mb-4 text-center">
                    <img src="https://t4.ftcdn.net/jpg/04/31/64/75/360_F_431647519_usrbQ8Z983hTYe8zgA7t1XVc5fEtqcpa.jpg"
                        class="testimonials-img rounded-circle img-fluid shadow-1-strong" alt="smaple image"  />
                </div>
                <p class="text-muted mb-0 text-center">- Anna Morian</p>
            </div>
            <div class="carousel-item my-5 text-center">
                <p class="lead font-italic mx-4 mx-md-5">
                    "I recently ordered grapes from this website, and I was blown away by the quality of the grapes. They were some of the best grapes I have ever had! The shipping was fast, and the grapes arrived in perfect condition. I will definitely be ordering from this website again in the future."                </p>
                <div class="mt-5 mb-4 text-center">
                    <img src="https://images.unsplash.com/photo-1623184663796-f0eb7e46d6ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG93bmVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
                        class=" testimonials-img rounded-circle img-fluid shadow-1-strong" alt="smaple image"  />
                </div>
                <p class="text-muted mb-0 text-center">- Anna Morian</p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>