<div class="container-fluid p-0 testimonials">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item my-5 active text-center ">
                <p class="lead font-italic mx-5">
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                    numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                </p>
                <div class="mt-5 mb-4 text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                        class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100" height="100" />
                </div>
                <p class="text-muted mb-0 text-center">- Anna Morian</p>
            </div>
            <div class="carousel-item my-5 text-center">
                <p class="lead font-italic mx-4 mx-md-5">
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                    numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                </p>
                <div class="mt-5 mb-4 text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                        class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100" height="100" />
                </div>
                <p class="text-muted mb-0 text-center">- Anna Morian</p>
            </div>
            <div class="carousel-item my-5 text-center">
                <p class="lead font-italic mx-4 mx-md-5">
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                    numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                </p>
                <div class="mt-5 mb-4 text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                        class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100" height="100" />
                </div>
                <p class="text-muted mb-0 text-center">- Anna Morian</p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>