.testimonials{
    background-color: #222328;
    color: #fff;
    min-height: 500px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/images/footer-background.jpg') no-repeat fixed center ;
}
