/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:  #00a8f4 #fff;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #fff;
  }
  
  *::-webkit-scrollbar-thumb {
    // background-image: linear-gradient(45deg, #00a8f4 0%, #02d1a1 100%) ;
    background: linear-gradient(to top, #fe8c00, #f83600);
    border-radius: 20px;
    // border: 3px solid orange;
  }